html{
    padding: none;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    overflow: hidden;
}
.class{
    
}
.top{
    height: 10%;
    width:100%;
    padding: 0;
    margin: 0;
}
#bottom{
    height: 88%;
    width: 98%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    margin: auto
}
.welcomeBox{
    margin: 0 auto;
    width:40%;
    text-align: center;
    position: relative;
    top:30%;
    height: 20%;
}
.welcomeTitle{
    font-size:300%;
    margin-bottom: 0;
}
.welcomeBody{
    font-size:100%;
    padding-top: 0;
}
#contactBox{
    margin: 0 auto;
    width:40%;
    text-align: center;
    position: relative;
    top:10%;
    height: 20%;
}
#contactTitle{
    font-size:200%;
    margin-bottom: 0;
}
#infoTable{
    margin:0 auto;
    table-layout: fixed;
}
.contactLink{
    text-decoration: none;
    font-size: 100%;
    text-align: left;
}
.contactInfo{
    font-size: 100%;
    text-align: left;
}
p{
    color: aliceblue;
    font-family:"ClearSans" ;
}
a{
    color: aliceblue;
    top: 6%;
    font-size:160%;
    font-family:"ClearSans" ;
}
#contactButton{
    font-family:"ClearSans";
    border: none;
    outline: none;
    font-size: 160%;
    color:aliceblue;background-color: Transparent;
}
.aboutBox{
    margin: 0 auto;
    width: 50%;
}
.a1{
    position: absolute;
    right:3%;
    top:6%;
    
}
.a2{
    position: absolute;
    right:18%;
    
}
.a3{
    
    position: absolute;
    right:39%;
}

@font-face {
    font-family: "ClearSans";
    src: url("../fonts/ClearSans-Light.ttf") format('trueType');
    font-weight:100;
}